<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页左侧导航</title>
<link rel="stylesheet" type="text/css" href="/static/css/public.css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
<head></head>
{% load function_tags %}
<body id="bg">
	<!-- 左边节点 -->
	<div class="container">

		<div class="leftsidebar_box">
			<a href="/login/main/" target="main"><div class="line">
					<img src="/static/img/coin01.png" />&nbsp;&nbsp;首页
				</div></a>
             {% for function_list in function %}
			<dl class="system_log">
				<dt>
					<img class="icon1" src="/static/img/coin03.png" /><img class="icon2"
						src="/static/img/coin04.png" /> {{ function_list.function_name }}<img class="icon3"
						src="/static/img/coin19.png" /><img class="icon4"
						src="/static/img/coin20.png" />
				</dt>
                 {%  for node in function_list.function_id|getNextfunction %}
				<dd>
					<img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
						src="/static/img/coin222.png" /><a class="cks" href="/app/{{node.function_id}}"
						target="main">{{ node.function_name }}</a><img class="icon5" src="/static/img/coin21.png" />
				</dd>
                {% endfor %}
			</dl>
             {% endfor %}
		</div>

	</div>
</body>
</html>
