<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>超时页面</title>

<link type="text/css" rel="stylesheet" href="http://css.gzedu.com/common/common.css" />
<link type="text/css" rel="stylesheet" href="http://css.gzedu.com/profession_appraisal/new_course_platform/css/default/base_v2.css" />
<link type="text/css" rel="stylesheet" href="http://css.gzedu.com/profession_appraisal/new_course_platform/css/default/page_gjt_v2.css" />
<script type="text/javascript" src="http://css.gzedu.com/common/js/jquery.js"></script>
</head>
<body>
<div class="prompt_wrapper delay_wrapper">
    <div class="content">
        <p class="margin_b20"><img src="http://css.gzedu.com/profession_appraisal/new_course_platform/css/images/result_icon_02.png" class="bg_png" /></p>
        <h1>登录超时</h1>

        	<a href="javascript:;" class="btn_style01 btn_lightblue" onclick="window.location.href='/'"><span>重新登录</span></a>

         </div>
    </div>
</div>
</body>
<script type="text/javascript">
$(function(){
	$(".delay_wrapper").css({height:$(window).height()});
	$(window).resize(function(){
		$(".delay_wrapper").css({height:$(window).height()});
	})
})
</script>
</html>
</html>